@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }

  html[lang="ar"] {
    font-family: 'Cairo', sans-serif;
  }
}

/* Add specific styles for Arabic text */
.arabic-text {
  font-family: 'Cairo', sans-serif;
}